name: Robot Rekap Energi Otomatis

on:
  schedule:
    # Menjalankan otomatis setiap jam (menit ke-0)
    - cron: '0 * * * *'
  workflow_dispatch: # Supaya tombol "Run workflow" muncul buat ngetes manual

jobs:
  run-rekap:
    runs-on: ubuntu-latest
    steps:
      - name: Ambil Kode dari Repo
        uses: actions/checkout@v3

      - name: Instal Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Instal Library Firebase
        run: |
          pip install firebase-admin pytz

      - name: Ambil Kunci Rahasia Firebase
        # Perintah ini bikin file kunci sementara dari Secrets GitHub
        run: |
          echo "${{ secrets.FIREBASE_KEY }}" > serviceAccountKey.json

      - name: Jalankan Script Rekap
        run: python rekap_harian.py
