name: Robot-Rekap-Kairo

on:
  workflow_dispatch:
  schedule:
    - cron: '0 * * * *'

jobs:
  job-rekap:
    runs-on: ubuntu-latest
    steps:
      - name: Ambil Kode
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install Library
        run: pip install firebase-admin pytz

      - name: Create Key
        run: echo "${{ secrets.FIREBASE_KEY }}" > serviceAccountKey.json

      - name: Run Script
        run: python rekap_harian.py
